body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    margin:70px 0px 48px 325px;
    font-size: 50px;
    font-family: cursive;
    text-shadow: 0px 0px 2px black;
}

p{
    text-align:center;
}
.header{
    display: flex;
    justify-content: space-between;
}

#copy-icon{
    width: 30px;
    height: 30px;
    /* border: 2px solid red; */
}
#displayPass-para{
    border: 1px solid black;
    border-radius: 10px;
    width: 600px;
    height: 30px;
    display: block;
    /* padding:5px 0px; */
    padding-top: 5px;
    padding-bottom: 0;
    font-size: 20px;
    margin-top: 12px;
}
#copy-btn{
    margin: 5px;
    display: block;
    width: 49px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}
#flex-container{
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
    width: 900px;
    margin: 0px auto;
    margin-top: 90px;
    height: 59px;
}
#theme-btn{
    width: 40px;
    height: 30px;
}
.progress-bar{
    border: 1px solid black;
    background-color: gray;
    width: 80%;
    height: 30px;
    border-radius: 2px;
    margin: 40px auto;
}
.bar{
    height: 100%;
    background-color: rgb(51, 179, 28);
    border-radius: 2px;
}

#save-btn{
    margin: 10px auto;
    display: block;
    width:153px;
    height: 45px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}